# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# Models
models/
*.bin
*.pt
*.exe

# Build
dist/
build/
installer/build/
installer/frontend/dist/
installer/frontend/node_modules/

# OS
.DS_Store
Thumbs.db